.leaflet-container {
  height: calc(70vh + 40px);
  width: 100%;
  /* background-color: aqua; */
  border-radius: 2rem;
}

.MuiTreeView-root {
  width: 100%;
  height: 70vh;
  overflow: auto;
}

/* MEDIA QUERIES */
@media (max-width: 599.98px) {
  .MuiTreeView-root {
    /* border: 4px solid green; */
    height: 35vh;
  }
}
